.App {

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5)
}

.modal {
  display: block;
  width: 100%;
  height: auto;
  max-width: 600px;
  background: white;
  border-radius: 16px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 20px;
}

.success-message {
  padding: 40px 0px;
  font-size: 24px;
  color: green;
  text-align: center;
}